header {
	.header-link {
		display: flex;
		justify-content: flex-end;
		a, .phone {
			color: #173b72;
			text-decoration: none;
			font-size: 27px;
			display: inline-block;
			min-height: 50px;
			min-width: 50px;
			margin-right: 10px;
			margin-top: 25px;
			transition: .3s;
		}
	}
	.facebook {
		background: url("../img/facebook-icon.png") no-repeat;
		background-size: contain;
		&:hover {
			background: url("../img/facebook-icon-hover.png") no-repeat;
			background-size: contain;
		}
	}
	.instagram {
		background: url("../img/insta-icon.png") no-repeat;
		background-size: contain;
		&:hover {
			background: url("../img/insta-icon-hover.png") no-repeat;
			background-size: contain;
		}
	}
	.phone {
		background: url("../img/phone-icon.png") no-repeat left bottom;
		padding-left: 60px;
		display: inline-block;
		margin-top: 0!important;
		padding-top: 12px;
		a {
			display: block;
			margin: 0 0 -6px 0;
			font-size: 18px;
			min-height: 10px!important;
		}
	}
	.language {
		background: #fcdd4a;
		display: inline-block;
		padding: 0 6px;
		ul {
			list-style-type: none;
			padding-left: 0;
			margin-top: 50px;
			li {
				display: inline-block;
				font-family: $fira-font;
				font-size: 18px;
				color: #333333;
				cursor: pointer;
				text-transform: uppercase;
				line-height: 18px;
				&:first-child {
					border-right: 1px solid #333333;
					padding-right: 5px;
				}
			}
			.current-lang {
				text-decoration: underline;
			}
		}
	}
	.header-menu {
		margin-top: 30px;
		height: 30px;
		ul {
			list-style-type: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 0;
			width: 100%;
			li {
				a {
					font-family: $fira-font;
					color: #333333;
					font-size: 20px;
					text-transform: uppercase;
				}
			}
		}
	}
	.navbar {
		padding: 0;
	}
}