.section-1 {
	background: url("../img/first-bg.png") no-repeat 0px -145px;
	background-size: cover;
	padding-bottom: 32px;
	padding-top: 30px;
	.border-block {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0;
		height: 59px;
		p {
			font-size: 22px;
			color: #ffffff;
			text-transform: uppercase;
			margin-left: 30px;
		}
		.first-border-img {
			background: url("../img/proecting.png") no-repeat;
			width: 37px;
			height: 37px;
		}
		.second-border-img {
			background: url("../img/installation.png") no-repeat;
			width: 35px;
			height: 34px;
		}
		.third-border-img {
			background: url("../img/service.png") no-repeat;
			width: 31px;
			height: 37px;
		}
	}
	.btn-block {
		margin-top: 15px;
	}
	.btn {
		background: #fcdd4a;
		padding: 16px 26px;
	}
}
.text-block {
	margin-top: 20px;
	p {
		font-size: 22px;
		font-weight: 200;
		color: #ffffff;
		text-align: center;
	}
	b {
		font-weight: 900;
	}
}
.btn-block {
	display: flex;
	justify-content: center;
}
.btn {
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background: #fcdd4a;
	padding: 14px 16px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
	&:hover {
		background: #f9bb00;
	}
}